* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    height: 15vh;
    justify-content: space-between;
    margin-left: 5%;
}

body {
    background-image: url(/starter-code/assets/home/background-home-desktop.jpg);
    background-size: cover;
}

nav img {
    height: 40px;
    width: 40px;
    margin-top: 6vh;
}

nav ul {
    background: rgb(140, 171, 195);
    background: linear-gradient(90deg, rgba(18, 18, 119, 0.174) 25%, rgba(9, 46, 116, 0.715) 50%, rgba(11, 12, 90, 0.708) 75%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
    margin-top: 2vw;
    padding-right: 4vw;
    padding-top: 4vh;
    padding-bottom: 3vh;
    justify-content: space-around;
    border-radius: 5px;
}

nav>ul>li {
    list-style: none;
    padding-bottom: 3.8vh;
}

.underline {
    border-bottom: 4px solid whitesmoke;
}

nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 0;
    font-family: 'Source Code Pro', monospace;

}

nav>ul>li>a>span {
    font-weight: 900;
}

section {
    display: flex;
    flex-direction: row;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 30vh;
    justify-content: space-between;
}

.main-hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#main-hero-left-p1 {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.558);
}

#main-hero-left-p2 {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    font-size: 8rem;
    color: white;
    font-weight: 100;
}

#main-hero-left-p3 {

    font-size: 1rem;
    font-family: monospace;
    line-height: 1.8rem;
    word-spacing: 1px;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.47);
}

.main-hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    background-color: rgb(254, 254, 254);
    height: 250px;
    width: 250px;
    border-radius: 250px;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: capitalize;
}